.login-errors {
    width: 160px;
    height: 60px;
    background-color: #bb1e1e;
    color: #FFFFFF;
    margin-left: -180px;
    position: absolute;
    border-radius: 3px;
}

.actual-error {
    text-align: center;
    padding: 10px;
}

.session-form .e-f-border {
    border-color: red;
}

.session-form .e-l-border {
    border-color: red;
}

.session-form .e-n-border {
    border-color: red;
}
.session-form .e-p-border {
    border-color: red;
}

.gender-box .e-m-border {
    border: 1px solid red;

}

.fname-e-icon {
    margin-top: -27px;
    position: absolute;
    margin-left: 162px;

}
.lname-e-icon {
    margin-top: -27px;
    position: absolute;
    margin-left: 162px;
}

.newemail-e-icon {
    margin-top: -27px;
    position: absolute;
    margin-left: 363px;
}
.newpass-e-icon {
    margin-top: -27px;
    position: absolute;
    margin-left: 363px;
}
.gend-e-icon {
    margin-right: 19px;
    float: right;
}
.bday-e-icon {
    
}

.signup-error svg {
    color: #b84947;
    font-size: 20px;
}