 .main-div {
    font-family: "Helvetica Neue";
    height: 100%;
    /* background-color: #e8ebee;   */
}


.nav-bar-wrapper{
    background-color: #3d5b98;
    color: #FFFFFF;
    height: 82px;
    /* min-width: 980px; */
    
}
.signed-in-nav-bar-wrapper {
    background-color: #3d5b98;
    color: #FFFFFF;
    height: 42px;
    min-width: 980px;
}

.nav-bar-box {
    max-width: 980px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 13px;

}
.btn {
    color: white;
    text-decoration: none;
}
.logo{
    font-family: arial;
    font-size: 36px;
    font-family: arial;
    font-size: 43px;
    margin-top: 15px;
}

.nav-buttons {
    max-width: 393px;
    height: 65px;
}

.signed-in-nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.email-login {
    max-width: 164px;
    font-size: 12px;
    padding-right: 15px;
}
.password-login {
    max-width: 164px;
    font-size: 12px;
    padding-right: 15px;
}
.button-login{
    max-width: 65px;
    font-size: 12px;
    padding-top: 15px;
}
.button-div {
    background-color: #4267b1;
    color: #FFFFFF;
    border: 1px solid #000000;
    /* height: 24px; */
    text-align: center;
    /* padding-left: 5px; */
    padding: 5px;
    /* padding-top: 0px; */
    margin-top: 2px;
    cursor: pointer;
}

.login-form {
    display: flex;
}

.email-label {
    padding: 0px 0px 4px 0px;
}

.password-label {
    padding: 0px 0px 4px 0px;
}

.login-form input {
    width: 142px;
    padding-bottom: 4px;
}

.login-form input {
    background-color: #e8f0fe;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
 }

 #root{
     height: 100%;
 }

 .no-logo {
     display: none;
 }

 .homepage-wrapper {
    background-color: #edf0f5;
    min-height: 640px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
 }

 .homepage-box {
    margin: 0 auto;
    display: flex;
    max-width: 980px;
    padding-top: 20px;
 }

 .homepage-box-left {
     width: 580px;
 }
 .homepage-box-right {
    width: 400px;
 }

 .homepage-left-content {
     width: 565px;
     height: 66px;
     margin-top: 14px;
     padding-bottom: 10px;
     font-size: 15px;
 }

 .homepage-left-content span {
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 17px;
     margin-left: 15px;
 }

.homepage-left-content img {
    height: 56px;
    width: 56px;
}

 .homepage-left-heading {
     color: #333333;
     width: 456px;
     font-size: 28px;
     padding: 42px 0 24px;
     font-weight: bold;
 }