.search-bar-wrapper {
    max-width: 537px;
}

.search-bar-box {
    width: 537px;
    height: 23px; 
    background-color: #ffffff;
}

.search-input {
    width: 100%;
}

.search-data {
    background-color: #CCC;
}